<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h4 class="bd-footer-title">
          <strong>Bridgetown</strong> is a static site generator.
        </h4>

        <div class="bd-footer-iframe">
          <a href="https://twitter.com/bridgetownrb">@bridgetownrb</a>
        </div>

        <div class="bd-footer-tsp">
          Source code licensed <a href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
          <br>
          Website content licensed <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
        </div>

      </div>
      <div class="column is-4">
        <h4 class="bd-footer-title">
          <strong>Contribute</strong> on GitHub
        </h4>

        <div class="bd-footer-iframe is-github">
          <!--<iframe src="https://ghbtns.com/github-btn.html?user=bridgetownrb&amp;repo=bridgetown&amp;type=star&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=bridgetownrb&amp;type=follow&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="170px" height="30px"></iframe> -->
        </div>
      </div>
      <div class="column is-4">
        <h4 class="bd-footer-title">
          <strong>Share</strong> on social media
        </h4>
      </div>
    </div>
  </div>
</footer>
