<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ page.title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}: {{ site.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ site.description }}" />

<link rel="preload" href="/_bridgetown/static/css/all.css" as="style" />
<link rel="prefetch" href="/docs/" />
<link rel="prefetch" href="/docs/jamstack/" />
<link rel="prefetch" href="/about/" />

<link rel="stylesheet" href="/_bridgetown/static/css/all.css{% if bridgetown.environment == 'development' %}?{{ site.time | date: '%I%M%s' }}{% endif %}" />
<script src="/_bridgetown/static/js/all.js{% if bridgetown.environment == 'development' %}?{{ site.time | date: '%I%M%s' }}{% endif %}" defer></script>
