{%- assign about_active = "" -%}
{%- assign docs_active = "" -%}
{%- assign news_active = "" -%}

{%- if page.url == "/about/" -%}
{%- assign about_active = "is-active" -%}
{%- elsif page.url contains "/docs/" -%}
{%- assign docs_active = "is-active" -%}
{%- elsif page.url contains "/blog/" or page.layout == "post" %}
{%- assign news_active = "is-active" -%}
{%- endif -%}
<nav class="main-nav navbar" id="topnav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item {{ home_active }}" href="/">
        <span class="bridgetown-logo">{% insert_svg Bridgetown-Logo.svg %}</span>
        <h1 class="title is-5">Bridgetown</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="document.querySelector('#topNavbar').classList.toggle('is-active')">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="topNavbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item {{ docs_active }}" href="/docs/">Documentation</a>
        <a class="navbar-item {{ about_active }}" href="/about/">Roadmap</a>
        <a class="navbar-item {{ news_active }}" href="/blog/">News</a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/{{ site.metadata.github }}" target="_blank">
          <button class="button is-info is-small">
            <span class="icon"> <i class="fa fa-github"></i> </span>
            <span class="has-text-weight-bold">Star</span>
          </button>
        </a>
        <!--<a href="https://github.com/{{ site.metadata.github }}" class="navbar-item">
        <img src="https://img.shields.io/github/stars/{{ site.metadata.github }}.svg" alt="GitHub stars">
        </a>-->
        <a class="navbar-item" href="https://github.com/bridgetownrb/bridgetown/issues/new?assignees=&labels=bug&template=bug_report.md&title=" target="_blank">
          <span class="icon"><i class="fa fa-bug"></i></span>
          <span>Report Issue</span>
        </a>
        <a class="navbar-item" href="https://twitter.com/{{ site.metadata.twitter }}" target="_blank">
          <span class="icon"><i class="fa fa-twitter"></i></span>
          <span class="is-hidden-tablet">Twitter</span>
        </a>
      </div>
    </div>
  </div>
</nav>
