# Bridgetown
output/
*-cache/
.bridgetown-metadata

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock

# Files
.analysis
.DS_Store
*.swp
*~

# Folders
/vendor
bbin/
coverage
gh-pages/
pkg/
test/dest
tmp/*
