# Bridgetown
output/
*-cache/
.bridgetown-cache
.bridgetown-metadata

# Ruby
.bundle/
.byebug_history
.ruby-gemset
*.gem

# Files
.analysis
.DS_Store
*.swp
*~
.Ulysses-Group.plist
.Ulysses-Settings.plist

# Folders
/vendor
bbin/
*/coverage
*/pkg/
*/test/dest
*/tmp/*
.vscode
.yardoc
doc/
