bridgetown-core/lib/**/*.rb
bridgetown-builder/lib/**/*.rb
bridgetown-foundation/lib/**/*.rb
bridgetown-paginate/lib/**/*.rb
bridgetown-routes/lib/**/*.rb
-m markdown
-p yard/templates
--exclude bridgetown-core/lib/site_template/server/roda_app.rb
--exclude bridgetown-core/lib/site_template/plugins/site_builder.rb
--exclude bridgetown-core/lib/site_template/TEMPLATES/erb/_components/shared/navbar.rb
--exclude bridgetown-core/lib/site_template/TEMPLATES/serbea/_components/shared/navbar.rb