<nav class="has-text-right is-pulled-right mt-1 pl-5 pb-5">
  <a href="{{ url }}" class="button is-info is-small">
    <ui-icon class="icon" aria-hidden="true">
      <i class="fa fa-chevron-up"></i>
    </ui-icon>
    <ui-label>{{ label }}</ui-label>
  </a>
</nav>
<layout-spacer class="is-clearfix is-hidden-tablet"></layout-spacer>