---
name: Back to Button
description: Display a button in the upper-right corner of the content reigion to go back to a previous section.
variables:
  url: [url, The address of the page to go to]
  label: [string, The label of the button]
---
<nav class="has-text-right is-pulled-right mt-1 pl-5 pb-5">
  <a href="{{ url }}" class="button is-info is-small">
    <ui-icon class="icon" aria-hidden="true">
      <i class="fa fa-chevron-up"></i>
    </ui-icon>
    <ui-label>{{ label }}</ui-label>
  </a>
</nav>
<layout-spacer class="is-clearfix is-hidden-tablet"></layout-spacer>