body > nav {
  z-index: 1;
  position: relative;
  margin: var(--sl-spacing-x-large) 0 var(--sl-spacing-large);
  font-weight: 520;

  @media (--nav-minimal) {
    margin: var(--sl-spacing-medium) 0;
  }

  & a.active {
    text-decoration-thickness: 5px;
    text-decoration-skip: none;
    text-underline-offset: 0.3em;
  }

  & .logo {
    width:320px;
    margin-top: -45px;

    @media (--nav-minimal) {
      margin-top: -20px;
    }
  }

  & sl-button[menutoggle] {
    margin-top: -45px;
  }

  & kbd {
    position: absolute;
    margin-left: 0.7rem;
    font-size: 70%;
    font-weight: var(--body-font-weight);
    opacity:0.5;
  }
}

html:not([loaded]) #nav-bar {
  opacity: 0;
  animation: fadeIn 1s 0.1s;
  animation-fill-mode: forwards;
}

navbar-inner, footer-inner {
  display: block;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

bridgetown-search-form input {
  display: block;
  appearance: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: 520;
  margin-bottom: 0.3em;
  padding: .2em .6em;
  width: calc(100% - 1.3em);
  background: #fff;
  opacity: 0.5;
  border: 1px solid var(--color-light-gray);
  border-radius: 1em;
  box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
  color: inherit;

  &:focus, &:hover {
    opacity: 1;
  }
}
