<section class="container mt-12">
  <layout-columns class="columns is-centered">
    <layout-column class="column is-three-quarters" id="swup">
      {{ content }}
    </layout-column>
  </layout-columns>
</section>