baseurl: "" # OPTIONAL: the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

# Additional build settings go here
permalink: simple

timezone: America/Los_Angeles

collections:
  docs:
    output: true
    permalink: /:collection/:path
    sort_by: order

defaults:
  - scope:
      path: _docs
    values:
      layout: docs
  - scope:
      path: _posts
    values:
      layout: post

pagination:
  enabled: true
