---
layout: default
title: Jazz Your Site Up with Plugins
plugins: !ruby/string:Rb |
  endpoint = "https://api.github.com/search/repositories?q=topic:bridgetown-plugin"

  conn = Faraday.new(
    url: endpoint,
    headers: {"Accept" => "application/vnd.github.v3+json"}
  )
  if ENV["BRIDGETOWN_GITHUB_TOKEN"]
    username, token = ENV["BRIDGETOWN_GITHUB_TOKEN"].split(":")
    conn.basic_auth(username, token)
  end
  items = JSON.parse(conn.get.body)["items"].sort_by {|item| item["name"]}

  items.each do |item|
    begin
      gem_url = "https://raw.githubusercontent.com/#{item["full_name"]}/master/lib/#{item["name"]}/version.rb"
      result = Faraday.get(gem_url).body
      item["gem_version"] = result.match(/VERSION = "(.*?)"/)[1]
    rescue
    end
  end

  items
---

<section class="container mt-12">
  <div class="columns is-centered">
    <div class="column is-three-quarters" id="swup">
      <h1 class="mt-3 mb-10 title is-1 has-text-centered has-text-brown">{{ page.title }}</h1>

      <p class="mb-10 has-text-centered">
        Peruse our growing collection of official and third-party plugins which provide new capabilities to your Bridgetown website. If you want your <a href="/docs/plugins/" class="wavy-underline">plugin</a> to show up here, add the <code class="has-background-white">bridgetown-plugin</code> topic to your repository on GitHub.
      </p>

      {% for plugin in page.plugins %}
        <div class="box px-8 py-8 mb-10">
          <a href="{{ plugin.html_url }}">
            <h2 class="mb-8 title is-3 has-text-info">
              {{ plugin.name }}
              {% if plugin.gem_version %}
                <span class="tag is-warning">v{{ plugin.gem_version }}</span>
              {% endif %}
            </h2>
          </a>
        
          <div class="content">
            {{ plugin.description }}
          </div>
        
          <div class="mt-8 author">
            <img src="{{ plugin.owner.avatar_url }}" alt="{{ plugin.owner.login }}" class="avatar" />
            <a href="{{ plugin.owner.html_url }}" class="has-text-weight-bold">{{ plugin.owner.login }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
