// Set up Swup
/*.transition-fade {
  transition: 0.2s;
  transform: translateY(0px);
  opacity: 1;
}

html.is-animating .transition-fade {
  transform: translateY(20px);
  opacity: 0.1;
}*/

// override theme speeds
.swup-transition-main {
  transition: opacity .2s, transform 0.3s;
}
html.is-animating {
  .swup-transition-main {
    transform: translate3d(0, -20px, 0);
  }

  &.is-leaving {
    .swup-transition-main {
      transform: translate3d(0, 20px, 0);
    }

    &.swup-theme-reverse {
      .swup-transition-main {
        transform: translate3d(0, 20px, 0);
      }
    }

    &.is-leaving {
      .swup-transition-main {
        transform: translate3d(0, -20px, 0);
      }
    }
  }
}

.content .highlight {
  margin-top: 1em;
  margin-bottom: 1em;
}

.box.px-8 {
  @include mobile {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }  
}

.box ul, .box ol {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 85%;

  li + li {
    margin-top: 2rem;
  }
}

.content a:not(.button) {
  -webkit-text-decoration: $green wavy underline;
  text-decoration: $green wavy underline;
  -webkit-text-decoration-thickness: 2px;
  text-decoration-thickness: 2px;
}

.box .author {
  color: $brown;

  .avatar {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}

.note {
  background: lighten($green, 25%);
  padding: 40px;
  padding-left: calc(2rem - 5px);
  padding-right: 2rem;
  border-left: solid 5px $green;
  font-size: 0.9em;
  font-weight: 500;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 1.5rem;
  &.warning {
    border-left-color: $red;
    background: lighten($red, 35%);
  }
}

table + .note {
  margin-top: 1.5rem;
}
