// Set up Swup
// override theme speeds
.swup-transition-main {
  transition: opacity 0.2s, transform 0.3s;
}

html.is-animating {
  .swup-transition-main {
    transform: translate3d(0, -20px, 0);
  }

  &.is-leaving {
    .swup-transition-main {
      transform: translate3d(0, 20px, 0);
    }

    &.swup-theme-reverse {
      .swup-transition-main {
        transform: translate3d(0, 20px, 0);
      }

      &.is-leaving {
        .swup-transition-main {
          transform: translate3d(0, -20px, 0);
        }
      }
    }
  }
}

.content {
  body.post & h3 {
    text-align: center;
    &:not(:first-child) {
      margin-top: 3.5rem;
    }
    margin-bottom: 2.5rem;
    color: $red;
  }

  .highlight {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.box.px-8 {
  @include mobile {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.box ul,
.box ol {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 85%;

  li + li {
    margin-top: 2rem;
  }
}

.content a:not(.button) {
  -webkit-text-decoration: $green wavy underline;
  text-decoration: $green wavy underline;
  -webkit-text-decoration-thickness: 2px;
  text-decoration-thickness: 2px;

  // 2px in Firefox looks wonky
  @supports (-moz-appearance: none) {
    text-decoration-thickness: 1px;
  }
}

.box .author {
  color: $brown;

  .avatar {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}

table.settings {
  tr > td:first-child {
    width: 65%;
  }
  &.bigger-output {
    tr > td:first-child {
      width: 40%;
    }
  }
  &.biggest-output {
    tr > td:first-child {
      width: 25%;
    }
  }
  .option,
  .filter {
    color: darken($blue, 10%);
  }
  .flag,
  .output {
    color: darken($orange, 20%);
  }
  p.default {
    margin-top: -0.5em;
    font-weight: bold;
    code {
      font-size: 1em;
      color: darken($green, 40%);
    }
  }

  th,
  td {
    &:first-child {
      background: lighten($white-ter, 2.5%);
    }
  }

  th {
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    th {
      &:first-child:before {
        content: "👇 ";
      }
      &:last-child:after {
        content: " 👇";
      }
    }
    th,
    td {
      display: block;
      width: 100% !important;
      &:last-child {
        text-align: right !important;
      }
    }
  }
}
