.container {
  @include mobile {
    /* This fixes a horizontal overscroll bug in iOS Safari */
    overflow: hidden;
    main & {
      /* Padding here fixes missing box-shadows */
      padding-top: 2rem;
      margin-top: 0 !important;
      padding-bottom: 2rem;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.navbar {
  .bridgetown-logo {
    width: 152px;
    margin-left: -6px;
    margin-right: 6px;
    opacity: 0.8;

    svg {
      -webkit-filter: drop-shadow( 2px 3px 3px rgba(0,0,0,0.3));
      filter: drop-shadow( 2px 3px 3px rgba(0,0,0,0.3));
    }

    svg path {
      fill: white;
    }
  }

  .navbar-brand .navbar-item:hover {
    background: $navbar-item-hover-background-color;
    .bridgetown-logo { opacity: 1; }
  }

  .navbar-item .title {
    color: white;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
  }

  .navbar-item,
  .navbar-link {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  @include desktop {
    .navbar-dropdown .navbar-item {
      color: $text;
    }
  }

  @include touch {
    .navbar-menu {
      background-color: inherit;
    }
  }

  .navbar-burger span {
    background-color: $white-ter;
  }
  .navbar-burger:hover span {
    background-color: $white-ter;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      @include touch {
        .navbar-item,
        .navbar-link {
          color: rgba($color-invert, 0.7);
          &.is-active {
            color: $color-invert;
          }
        }
      }
    }
  }

  &.is-transparent {
    background-color: transparent;
  }
}

.hero {
  // Colors
  .navbar {
    background-color: $grey-dark;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .navbar {
        background: none;
      }
    }
  }
}

body > footer.footer {
  margin-top: 8rem;
  padding-bottom: 4rem;
}

.box div.bridgetown-logo {
  max-width: 600px;
  margin: 1rem auto;

  svg {
    -webkit-filter: drop-shadow( 2px 4px 4px transparentize($brown, 0.7));
    filter: drop-shadow( 2px 4px 4px transparentize($brown, 0.7));
  }

  svg path {
    fill: $primary;
  }
}

.footer .bridgetown-logo {
  width: 315px;
  opacity: 0.8;

  svg {
    -webkit-filter: drop-shadow( 2px 3px 3px rgba(0,0,0,0.3));
    filter: drop-shadow( 2px 3px 3px rgba(0,0,0,0.3));
  }

  svg path {
    fill: white;
  }
}

.bridgetown-logo.inverse {
  svg path {
    fill: white !important;
  }
}
