wa-avatar {
  --size: 3em;
}

avatar-group {
  display: block;
  text-align: center;

  & wa-avatar:not(:first-of-type) {
    margin-left: -1.5rem;
  }

  & wa-avatar::part(base) {
    border: solid 2px var(--wa-color-neutral-05);
  }
}

wa-dialog section {
  padding: 0 !important;
}

wa-button {
  & wa-icon {
    font-size: 1.2em;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }
}

wa-card {
  &::part(body) {
    box-shadow: var(--wa-shadow-l);
    border-top: 5px solid var(--wa-color-brand-50);
  }

  & h3 {
    color: var(--color-dark-green);
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}

.highlighted-cards wa-card::part(body) {
  border-top-color: var(--color-light-orange);
}

wa-dialog {
  &::part(panel) {
    @media (max-width: 420px) {
      max-height: 95vh;
    }
  }

  & h3[slot="label"] {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.3em;
    text-align: left;
  }

  &::part(footer) {
    z-index: 100;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
  }
}

wa-spinner {
  font-size: 3rem;
  --indicator-color: var(--color-orange);
  --track-color: #ffc399;
}

p > a > wa-icon {
  vertical-align: -0.18em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

wa-button[pill] wa-icon[slot="start"] {
  margin-left: 0.2em;
}
wa-button[pill] wa-icon[slot="end"] {
  margin-left: -0.2em;
}

wa-callout {
  --wa-font-size-s: 0.92em;

  margin: 2.5em 1em;

  & h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}

wa-callout + wa-callout {
  margin-top: -1em;
}

wa-breadcrumb-item {
  &::part(label) {
    color: var(--color-medium-gray);
  }
  &::part(separator) {
    color: var(--color-light-gray);
  }
}

/* Multi-lang code examples in docs */
article {
  & wa-tab-group {
    --track-width: 4px;
    --track-color: transparent;
  }
  & wa-tab-group::part(body) {
    overflow: visible;
  }
  & wa-tab-group:defined div.highlighter-rouge::before {
    display: none;
  }
  & wa-tab-group .highlight {
    margin-block-start: 0;
  }
  & wa-tab:not(:defined) {
    display: none;
  }
  & wa-tab::part(base) {
    padding: .4rem .7rem;
  }
  & wa-tab-panel::part(base) {
    padding-block-end: 0;
  }
}