/*.pagination-link,
.pagination-next,
.pagination-previous {
  color: $primary;
  background-color: $pagination-background-color;
} */

h1, h2, h3 {
  letter-spacing: -0.05em;
}

body.home main h1.title {
  font-size: 4rem;
  @media screen and (max-width: 32rem) {
    font-size: 15.5vw;
  }
}

.footer a {
  color: $green;
  &:hover {
    color: darken($green, 15%);
  }
}

table.settings {
  tr > td:first-child { width: 65%; }
  &.bigger-output {
    tr > td:first-child { width: 40%; }
  }
  .option, .filter {
    color: darken($blue, 10%);
  }
  .flag, .output {
    color: darken($orange, 20%);
  }
  p.default {
    margin-top: -0.5em;
    font-weight: bold;
    code {
      font-size: 1em;
      color: darken($green, 40%);
    }
  }

  th, td {
    &:first-child {
      background: lighten($white-ter, 2.5%);
    }
  }

  th {
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    th {
      &:first-child:before {content: "👇 " }
      &:last-child:after { content: " 👇" }
    }
    th, td {
      display: block;
      width: 100% !important;
      &:last-child {
        text-align: right !important;
      }
    }
  }
}

.minimal-line-height pre {
  line-height: 135%;
}