<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ resource.data.layout }} {{ resource.data.page_class }}">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main>
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
