{% if component.metadata.variables.size > 0 %}
  <table class="settings biggest-output">
    <thead>
      <tr>
        <th>Variable</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for variable in component.metadata.variables %}
        {% assign optional = "" %}
        {% unless variable.required %}
          {% assign optional = ", optional" %}
        {% endunless %}
        <tr>
          <td><p><code>{{ variable.name }}</code></p></td>
          <td><p>{{ variable.type }}{{ optional }}</p></td>
          <td>{{ variable.description | markdownify }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p><em>No variables defined.</em></p>
{% endif %}
