<header>
  <img src="{{ '/images/logo.svg' | relative_url }}" alt="Logo" />
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
  </ul>
</nav>
