{%- if extra_margin -%}
{%- assign extra_margin_class = "my-10" -%}
{%- endif -%}

<aside class="note {{ type }} {{ extra_margin_class }}">
  {%- if title -%}
    <h5>{{ title }}</h5>
  {%- endif -%}

  {{- content -}}
</aside>