---
name: Table of Contents
description: Shows in the sidebar of the Documentation layout
variables:
  site: [object, Site liquid drop]
  page: [object, Page liquid drop]
---
<nav>
  <ul>
  {% assign current_section = "" %}
  {% for doc_page in docs %}
    {% assign active = "" %}
    {% if doc_page.top_section and current_section != doc_page.top_section %}
      {% assign current_section = doc_page.top_section %}
      <li class="mt-4 mb-2"><h3 class="title is-5">{{ current_section }}</h3></li>
    {% endif %}
    {% if doc_page.category == page.category %}
      {% assign active = "has-text-weight-bold" %}
    {% endif %}
    {% unless doc_page.hide_in_toc %}
      <li><a href="{{ doc_page.url }}" class="{{ active }}">{{ doc_page.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
</nav>