---
layout: default
title: Articles by :prototype-data-label
exclude_from_search: true
prototype:
  collection: posts
  term: author
  data: authors
  data_label: name
---

{% assign author = page.author_data %}
{% rendercontent "shared/page_layout" %}
  <h1 class="mt-3 mb-10 title is-1 has-text-centered has-text-brown">Articles by
    {{ author.name | split: " " | first }}</h1>

  <p class="mb-10 has-text-centered">
    Connect with
    {{ author.name }}
    on the
    <a href="{{ author.website }}" class="has-text-weight-bold" rel="noopener">Web</a>
    or
    {% if author.twitter %}
      <a class="has-text-weight-bold" href="https://twitter.com/{{ author.twitter }}" rel="noopener">Twitter</a>
    {% elsif author.github %}
      <a class="has-text-weight-bold" href="https://github.com/{{ author.github }}" rel="noopener">GitHub</a>
    {% endif %}
  </p>

  {% for post in paginator.resources %}
    {% render "content/news_item", post: post, authors: site.data.authors %}
  {% endfor %}

  {% render "shared/pagination", paginator: paginator %}
{% endrendercontent %}
