---
template_engine: erb
github_participation: !ruby/string:Rb |
  endpoint = "https://api.github.com/repos/bridgetownrb/bridgetown/stats/participation"

  conn = Faraday.new(
    url: endpoint,
    headers: {"Accept" => "application/vnd.github.v3+json"}
  )
  if ENV["BRIDGETOWN_GITHUB_TOKEN"]
    username, token = ENV["BRIDGETOWN_GITHUB_TOKEN"].split(":")
    conn.basic_auth(username, token)
  end
  json = JSON.parse(conn.get.body)
  json["all"][-4..].sum
---
<!doctype html>
<html lang="en">
  <head>
    <%= render Shared::Head.new(metadata: site.metadata, title: resource.data.title) %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %>">
    <%=
      render Shared::Navbar.new(
        metadata: site.metadata, resource: resource, version: Bridgetown::VERSION
      )
    %>

    <main>
      <%= yield %>
    </main>

    <%= liquid_render "shared/footer", metadata: site.metadata, bridgetown: Bridgetown::Drops::BridgetownDrop.global, github_participation: layout.data.github_participation %>
  </body>
</html>
