---
template_engine: erb
github_participation: !ruby/string:Rb |
  endpoint = "https://api.github.com/repos/bridgetownrb/bridgetown/stats/participation"

  conn = Faraday.new(
    url: endpoint,
    headers: {"Accept" => "application/vnd.github.v3+json"}
  )
  if ENV["BRIDGETOWN_GITHUB_TOKEN"]
    username, token = ENV["BRIDGETOWN_GITHUB_TOKEN"].split(":")
    conn.basic_auth(username, token)
  end
  json = JSON.parse(conn.get.body)
  json["all"][-4..].sum
---
<!doctype html>
<html lang="en">
  <head>
    <%= liquid_render "shared/head", metadata: site.metadata, title: page.data.title %>
  </head>
  <body class="<%= page.data.layout %> <%= page.data.page_class %>">
    <%= liquid_render "shared/navbar", metadata: site.metadata, page: page, version: Bridgetown::Drops::BridgetownDrop.global.version %>

    <main>
      <%= yield %>
    </main>

    <%= liquid_render "shared/footer", metadata: site.metadata, bridgetown: Bridgetown::Drops::BridgetownDrop.global, github_participation: layout.data.github_participation %>
  </body>
</html>
