---
layout: default
---

{% rendercontent "shared/page_layout" %}
  {% if bridgetown.version contains "beta" %}
    <layout-notice class="mb-12 has-text-centered">
      <em>You’re looking at the beta site for the latest pre-release of Bridgetown.</em> <a href="https://www.bridgetownrb.com" class="has-text-weight-bold">Switch to the current production site.</a>
    </layout-notice>
  {% endif %}
  {% rendercontent "shared/box" %}
    <img-container class="bridgetown-logo">{% svg images/Bridgetown-Logo.svg %}</img-container>

    <h1 class="mt-3 mb-10 title has-text-centered has-text-brown">Bridgetown</h1>

    <main-content class="content">
      {{ content }}
    </main-content>
  {% endrendercontent %}

  <layout-spacer class="my-10 py-2"></layout-spacer>

  <h2 class="title is-2 has-text-centered has-text-brown mb-12">News Updates</h2>

  {% for post in site.posts limit:4 %}
    {% render "content/news_item", post: post, authors: site.data.authors %}
  {% endfor %}

  <nav class="mt-12 has-text-centered">
    <a href="/blog/" class="button is-warning is-small"><ui-label>Previous Updates</ui-label> <ui-icon class="icon"><i class="fa fa-arrow-right"></i></ui-icon></a>
  </nav>
{% endrendercontent %}
