<header>
  <img src="/images/logo.svg" alt="Logo" />
</header>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/posts">Posts</a></li>
  </ul>
</nav>
